body {
	background-image: url('images/rough-diagonal.png') !important;
	background-color: #fff;
}

body > div[data-role="header"] {
	background-color: #fff;
	border-bottom: 1px solid #d3d3d3;
}

body > div[data-role="header"] .ui-title {
	font-family: "Open Sans", sans-serif;
	padding: 0;
	margin: 1em;
	font-size: 16px;
}

body > div[data-role="header"] .ui-btn {
	padding-top: .5em;
	padding-bottom: .5em;
	margin: .5em;
	font-size: 16px;
	top: 0;
}

.ui-bar {
	padding: 1em !important;
}

div[data-role="page"] {
	background: none;
}

span.radio-box {
	width: 10px;
	height: 10px;
	background-color: #555;
}

.input-page {
	min-height: 100px !important;
}

.input-form .input-section-text label {
	font-size: 9pt;
	font-weight: bold;
	padding: 4px;
	margin: 0;
}

.input-form .input-section {
	margin-bottom: 1.5em;
}

.input-form .input-section-text {
	background-color: #444;
	text-shadow: none;
	color: #fff;
}

.input-form .input-section input[type="text"], .input-form .input-section .ui-input-text {
	margin: 0;
	border-radius: 0;
}

.input-form .input-section input {
	border-radius: 0;
}

.ui-button {
	background-color: #333;
	color: #fff;
	padding: 1em;
	border: 1px solid #111;
	border-radius: 4px;
	cursor: pointer;
}

.ui-button:hover {
	background-color: #444;
}

.ui-button:active {
	background-color: #555;
}

.ui-icon-printer:after {
	background-image: url("images/icons-svg/printer-white.svg");
	background-size: 16px 16px;
}

.footer-button-left, .footer-button-right {
	position: absolute;
	margin: 0;
	top: auto;
	bottom: 0.24em;
}

.footer-button-left {
	left: 0.4em;
}

.footer-button-right {
	right: 0.4em;
}

.ui-table {
	background-color: #fff;
	font-size: 1em;
	font-family: "Open Sans", sans-serif;
}

a[data-role="button"].no-background {
	border: none !important;
	background: none;
	box-shadow: none;
}

/* reset buttons */
a[data-role="button"].no-background.ui-btn-icon-notext {
	text-indent: -9999px;
	white-space: nowrap !important;
}

.ui-panel.ui-panel-open {
	position: fixed;
}

.ui-panel-inner {
	position: absolute;
	width: 240px;
	max-width: 240px;
	top: 0px;
	bottom: 0px;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

body > div[data-role="header"] > .ui-select {
	display: none;
}

@media screen and (min-device-width: 800px) {
	div.input-form label {
		font-size: 8pt;
	}

	div.input-form {
		padding: 2em;
		width: 400px;
		margin-left: auto;
		margin-right: auto;
	}

	div.input-form  div.input-section input[type="text"] {
		font-size: 10pt;
		border: 1px solid #ccc;
		border-radius: 2px;
	}
}

@media screen and (max-device-width: 480px) {
	.ui-mobile-safe .ui-btn, .ui-mobile-safe.ui-btn {
		width: 1.5em;
		padding: .7em 1em;
		text-indent: -9999px;
		white-space: nowrap !important;
		border-radius: 4px;
	}

	.ui-mobile-safe .ui-btn:after, .ui-mobile-safe.ui-btn:after {
		padding: 0;
		content: "";
		position: absolute;
		left: 50%;
		margin-left: -11px;
	}
}