body {
	font-size: 1em;
	font-family: sans-serif;
}

span.radio-box {
	width: 10px;
	height: 10px;
	background-color: #555;
}

.input-page {
	min-height: 100px !important;
}

.input-form .input-section-text label {
	font-size: 9pt;
	font-weight: bold;
	padding: 4px;
	margin: 0;
}

.input-form .input-section {
	margin-bottom: 1.5em;
}

.input-form .input-section-text {
	background-color: #444;
	text-shadow: none;
	color: #fff;
}

.input-form .input-section input[type="text"], .input-form .input-section .ui-input-text {
	margin: 0;
	border-radius: 0;
}

.input-form .input-section input {
	border-radius: 0;
}

.ui-button {
	background-color: #333;
	color: #fff;
	padding: 1em;
	border: 1px solid #111;
	border-radius: 4px;
	cursor: pointer;
}

.ui-button:hover {
	background-color: #444;
}

.ui-button:active {
	background-color: #555;
}

.ui-icon-printer:after {
	background-image: url("images/icons-svg/printer-white.svg");
	background-size: 16px 16px;
}

.footer-button-left, .footer-button-right {
	position: absolute;
	margin: 0;
	top: auto;
	bottom: 0.24em;
}

.footer-button-left {
	left: 0.4em;
}

.footer-button-right {
	right: 0.4em;
}

@media screen and (min-device-width: 800px) {
	div.input-form label {
		font-size: 8pt;
	}

	div.input-form {
		padding: 2em;
		width: 400px;
		margin-left: auto;
		margin-right: auto;
	}

	div.input-form  div.input-section input[type="text"] {
		font-size: 10pt;
		border: 1px solid #ccc;
		border-radius: 2px;
	}
}

@media screen and (max-device-width: 480px) {
	.ui-mobile-safe .ui-btn, .ui-mobile-safe.ui-btn {
		padding: 0;
		width: 1.5em;
		padding: .7em 1em;
		text-indent: -9999px;
		white-space: nowrap!important;
	}

	.ui-mobile-safe .ui-btn:after, .ui-mobile-safe.ui-btn:after {
		padding: 0;
		content: "";
		position: absolute;
		left: 50%;
		margin-left: -11px;
	}
}