table {
    margin: 10px 0 15px;
    width: 100%;
    text-align: left;
    border-spacing: 0;
}

td {
    vertical-align: middle !important;
}

th {
    color: #666;
}

td, th {
    padding-left: 1em !important;
}

th:hover {
    cursor: pointer;
    background-color: #f8f8f8;
}

th:active {
    cursor: pointer;
    background-color: #e5e5e5;
}

th.ui-highlight {
    background-color: #C52837;
    color: #fff;
    text-shadow: none;
    -webkit-box-shadow: 0 0 6px 1px rgba(0,0,0,.5);
    -moz-box-shadow: 0 0 6px 1px rgba(0,0,0,.5);
    box-shadow: 0 0 6px 1px rgba(0,0,0,.5);
    position: relative;
    z-index: 10;
}

tr.picked td {
    position: relative;
}

tr.picked td:first-of-type:before {
    content: " ";
    height: 90%;
    width: 5px;
    background-color: #C52837;
    position: absolute;
    left: -10px;
    top: 5%;
    -webkit-box-shadow: 0 0 6px 1px rgba(0,0,0,.3);
    -moz-box-shadow: 0 0 6px 1px rgba(0,0,0,.3);
    box-shadow: 0 0 6px 1px rgba(0,0,0,.3);
}

b.ui-table-cell-label, b.ui-table-cell-title {
    font-weight: normal;
}

@media (max-width: 35em) {
    table.ui-table-reflow colgroup col {
        width: 100% !important;
    }

    table.ui-table-reflow tr td {
        display: table;
        width: 100%;
        border-bottom: 1px solid #ddd;
        font-weight: bold;
    }

    table.ui-table-reflow tr td.ui-highlight {
        background-color: #fff;
        -webkit-box-shadow: 0 0 6px 1px rgba(0,0,0,.3);
        -moz-box-shadow: 0 0 6px 1px rgba(0,0,0,.3);
        box-shadow: 0 0 6px 1px rgba(0,0,0,.3);
    }

    table.ui-table-reflow tr td .ui-table-cell-label,
    table.ui-table-reflow tr td .ui-table-cell-title {
        display: table-cell;
        padding: 1em;
    }

    table.ui-table-reflow tr td .ui-table-cell-label {
        padding-left: 2em;
        font-weight: normal;
        font-size: 10pt;
        width: 4em !important;
        color: #666;
    }

    table.ui-table-reflow tr td:not(.ui-highlight) .ui-table-cell-label {
        cursor: pointer;
        text-decoration: underline;
    }

    table.ui-table-reflow tr td.ui-highlight .ui-table-cell-title {
        font-weight: bold;
    }

    table.ui-table-reflow tr td:first-of-type .ui-table-cell-label {
        min-width: 0 !important;
        color: #000;
    }

    table.ui-table-reflow tr td:first-of-type .ui-table-cell-title {
        padding-left: 0;
    }

    table.ui-table-reflow tr td * {
        vertical-align: middle !important;
    }

}