div[data-role="page"] {
    background-image: url('images/gray-lines.png') !important;
    background-color: #755d39;
}

#login {
    font-family: 'Roboto', Tahoma, Arial, Helvetica, sans-serif !important;
    background-color: #eee;
    padding: 2em;
    border: 1px solid #666;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, .4);
    -moz-box-shadow: 0 0 20px 0 rgba(0, 0, 0, .4);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, .4);
    margin-top: 1em;
}

#login h1 {
    text-align: center;
    font-size: 3em;
    font-weight: 100;
    color: #888;
    margin-top: .5em;
    margin-bottom: 1em;
}

#login .ui-button {
    width: 100% !important;
    background-color: #09f;
    border-color: #06c;
    padding: .5em;
    font-weight: bold;
}

#login .ui-button:hover {
    background-color: #1af;
    border-color: #06c;
}

#login .ui-button:focus {
    -webkit-box-shadow: 0 0 20px 0 rgba(0, 100, 255, .4);
    -moz-box-shadow: 0 0 20px 0 rgba(0, 0, 0, .4);
    box-shadow: 0 0 8px 4px rgba(0, 200, 255, .4);
}

#login input[type="text"], #login input[type="password"] {
    font-size: 1em;
    border: 1px solid #bbb;
    padding: .6em;
}

/* remove chrome's autofill color */
input:-webkit-autofill, input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 1000px white inset;
}